<ion-view title="{{::cook_model.title}}">
    <ion-nav-buttons side="left">
        <button class="button icon-left ion-ios-arrow-thin-left button-clear" ng-click="backtocook()"></button>
    </ion-nav-buttons>
    <div class="card showcookCard">
        <div class="non_reply_div" ng-show="comments_check">
            <i class="ionicons ion-chatbox-working non_reply_icon"></i><br>
            <h5>등록된 댓글이 없어요
                <br>
                서로의 맛있는 비법을 공유해 보아요~!
            </h5>
        </div>

        <ion-content delegate-handle="mainScroll" overflow-scroll="true" lazy-scroll>
            <ion-list>
                <ion-item ng-repeat="item in cookers" class="item item-avatar reply_item">
                    <img lazy-scroll-resize="true" image-lazy-src="img/unanimous.png" image-lazy-distance-from-bottom-to-load="100"
                         class="reply_item_img">
                    <div class="row reply_item_row">
                        <div class="col reply_item_nickname">
                            {{::item.cooker_id.nick_name}}
                        </div>
                        <div class="col reply_item_time">
                            <time-directive time-data="item.date"></time-directive>
                        </div>
                        <div class="reply_item_popover" ng-click="openmoreinfoPopover($event, item.cooker_id.nick_name, item._id)">
                            <span>
                                <i class="ionicons ion-android-more-vertical"></i>
                            </span>
                        </div>
                    </div>
                    <div class="row tag_popover_parent">
                        <div class="col tag_popover_child">
                            <p class="tag_popover_p" dynamic="compilengbindHtml(item.comment)"></p>
                        </div>
                    </div>
                </ion-item>
            </ion-list>
        </ion-content>

        <ion-footer-bar align-title="left" class="item-input-inset">
            <label class="item-input-wrapper">
                <i class="ionicons ion-chatbubble-working reply_input_icon"></i>
                <input type="text" id="reply_input" ng-keyup="tagtext_change($event)" ng-model="write_comment" placeholder="댓글 남기기">
            </label>
            <button ng-click="apply_comment()" class="button button-outline button-assertive">
                등록
            </button>
        </ion-footer-bar>
    </div>
</ion-view>