<ion-view title="Cookers">
    <ion-header-bar align-title="left" class="bar bar-subheader bar-light">
        <!--<span style="font-weight: bold; padding-top:0px; font-size:15px;">#{{tag_keyword}}</span>-->
        <h1 class="title searchresult_tag_header">
            #{{tag_keyword}} 검색결과
        </h1>
    </ion-header-bar>
    <ion-content padding="false" overflow-scroll="true" lazy-scroll>
        <ul class="list" ng-show="result_check">
            <li class="item">
                태그 검색 결과가 없습니다.
            </li>
        </ul>
        <ion-list>
            <div class="list card" ng-repeat="cook in cook_list  | limitTo : cook_count track by cook._id">
                <a class="item item-avatar" href="#/tab/user/{{cook.w_cooker._id}}">
                    <!--<img class="avatar_img" ng-src={{cook.w_cooker_info.cooker_photo.path}}>-->
                    <img lazy-scroll-resize="true" image-lazy-src="img/nick.jpg" image-lazy-distance-from-bottom-to-load="100">
                    <div class="row home_user_parent_div">
                        <div class="col home_user_nickname_div">
                            {{cook.w_cooker.nick_name}}
                        </div>
                        <div class="col col-75 home_user_time_div">
                            <time-directive time-data="cook.date"></time-directive>
                        </div>
                    </div>
                </a>

                <a class="item item-thumbnail-left cookdetail_btn" ng-click="openshowrecipeModal(cook._id)">
                    <!--<img ng-src={{cook.comple_photo.path}}>-->
                    <img lazy-scroll-resize="true" image-lazy-src="{{cook.comple_photo.path}}" image-lazy-distance-from-bottom-to-load="100">
                    <h2>{{cook.title}}</h2>

                    <div class="home_desc_div">{{cook.desc}}</div>

                    <div class="row home_btngroup">
                        <div class="col home_btngroup_btn"><i class="ionicons ion-ios-heart"></i>&nbsp;&nbsp;&nbsp;{{cook.yummy.cookers.length}}</div>
                        <div class="col home_btngroup_btn"><i class="ionicons ion-chatbox-working"></i>&nbsp;&nbsp;&nbsp;{{cook.reply.cookers.length}}</div>
                        <div class="col home_btngroup_btn"><i class="ionicons ion-ios-glasses-outline"></i>&nbsp;&nbsp;&nbsp;{{cook.hits}}</div>
                    </div>
                </a>
            </div>

        </ion-list>
    </ion-content>
</ion-view>
