<ion-view title="notice">
    <ion-content padding="false" overflow-scroll="true">
        <ion-list>
            <div class="item padding-10" ng-repeat="notice in notices track by notice._id">
                <div class="row">
                    <div class="col-10">
                        <img class="left-circle-img"
                             src="img/unanimous.png">

                    </div>
                    <div class="col-75 center-col">
                        <p class="notice-content">
                            {{::notice.content}}
                        </p>
                    </div>
                    <div class="col-10">
                        <button class="button button-clear button-energized"
                                ng-click="checkBtnClick(notice, $index)">
                            <i class="icon ion-android-exit"></i>
                        </button>
                    </div>
                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
